*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.root{

}

.container-header{
  display: flex;
  align-items: center;
  justify-content: center;
}

.container-header header{
  width: 85%;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.container-header .container-title{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
}

/* .container-header .container-title h1{} */

.container-header .container-title p{
  font-size: 21px;
}

.container-header .container-buttons{
  display: flex;
  align-items: center;
  justify-content: center;
}

.container-header .container-buttons nav ul a{
  padding: 5px;
  margin: 0 5px;
  text-decoration: none;
  color: #000;
  font-size: 17px;
  font-family: sans-serif;
}

/* Main Content */

.container-content{
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container-content main{
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 90%;
}

.container-content main .block{
  width: 45%;
  margin: 0 50px;
  font-family: sans-serif;
}

.container-content .left, .right{
  padding: 10px;
}

.container-content main .left{
  
}

.container-content main .left img{
  width: 80vh;
}

.container-content main .right{
  
}

.container-content main .right h1{
  padding: 0 0 15px 0;
}

.box-alert{
	width: 100%;
	padding:8px 0;
	text-align: center;
}

.sucesso{
	background-color: #a5d6a7;
	color: white;
}

.erro{
	background-color: #F75353;
	color: white;
}
